<div class="row">
  <div class="col left-pane">
    <h1>All Services</h1>

    <div class="services">
      <div class="mahjong-services">
        <div class = "title1">
        <h3>Mahjong 🀄️</h3>
        </div>
        <ul style="list-style: none;">
          <% @mahjong_services.each do |service| %>
            <li class="service-item">
              <% if service.open? %>
                <%= link_to service.name, new_service_order_path(service), class: "btn btn-success" %>
              <% else %>
                <%= link_to service.name, edit_service_order_path(service, service.orders.last), class: "btn btn-danger" %>
              <% end %>
            </li><br/>
          <% end %>
        </ul>
      </div>

      <div class="pool-services">
        <div class = "title">
        <h3>Pool</h3>
        </div>
        <ul style="list-style: none;">
          <% @pool_services.each do |service| %>
            <li class="service-item">
              <% if service.open? %>
                <%= link_to service.name, new_service_order_path(service), class: "btn btn-success" %>
              <% else %>
                <%= link_to service.name, edit_service_order_path(service, service.orders.last), class: "btn btn-danger" %>
              <% end %>
            </li><br/>
          <% end %>
        </ul>
      </div>

      <div class="ktv-services">

        <div class = "title">
        <h3>KTV</h3>
        </div>
        <ul style="list-style: none;">
          <% @ktv_services.each do |service| %>
            <li class="service-item">
              <% if service.open? %>
                <%= link_to service.name, new_service_order_path(service), class: "btn btn-success" %>
              <% else %>
                <%= link_to service.name, edit_service_order_path(service, service.orders.last), class: "btn btn-danger" %>
              <% end %>
            </li><br/>
          <% end %>
        </ul>
      </div>
    </div>



  </div>
  <div class="col right-pane"/>
</div>
