<%= form_for [@service, @order] do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.label :start_time %><br/>
      <div class = 'field input-group'>
        <%= f.time_field :start_time, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" onclick="this.form.order_start_time.value = moment().format('HH:mm')">Start</button>
        </span>
      </div>
    </div>

    <div class="col-lg-6">
      <%= f.label :end_time %><br/>
      <div class = 'field input-group'>
        <%= f.time_field :end_time, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" onclick="this.form.order_end_time.value = moment().format('HH:mm')">End</button>
        </span>
      </div>
    </div>
  </div>


  <br/>

  <h1>Extras</h1>
  <table class="table" id = 'order-extras'>
    <tbody>
      <%= f.fields_for :order_extras do |oe| %>
        <%= render 'order_extra_fields', f: oe %>
      <% end %>
    </tbody>
  </table>

  <br/>

  <div class = 'field'>
    Previous Charge
    <%= f.number_field :previous_cost, step: 0.01, class: 'form-control' %>
  </div>

  <br />

  <%= f.submit class: 'btn btn-success btn-lg btn-block' %>

  <br />
<% end %>
