<div class = 'nested-fields'>
  <div class = 'field'>
    <%= f.label :extra %><br/>
    <%= f.select :extra, Extra.pluck(:name) %>
  </div>

  <div class = 'field'>
    <%= f.label :quantity %><br/>
    <%= f.number_field :quantity %>
  </div>
  <%= link_to_remove_association "remove order extra", f %>
</div>