<% if @order.open? %>
  <%= link_to "Update Order", edit_service_order_path(@order.service, @order) %>
<% end %>
<h1>TOTALS</h1>

<div class = 'order-receipt'>
  <h3>Total Service Cost: <%= number_to_currency(@order.total_service_cost) %></h3>
    <ul>
      <li><%= @order.service.name %>: <%= number_to_currency(@order.service.hourly_rate) %>/hr</li>
      <% if !@order.end_time.nil? %>
        <li><%= ((@order.end_time - @order.start_time) / 3600).round(2) %> hrs</li>
      <% end %>
    </ul>
</div>

<div class = 'extra-receipt'>
  <h3>Total Snack/Drink Cost: <%= number_to_currency(@order.total_extras_cost) %></h3>

  <% @order.order_extras.each do |order_extra| %>
    <% if order_extra.quantity.present? %>
      <%= order_extra.extra.name %> (<%= order_extra.quantity %>)

      <ul>
        <li>Price: <%= number_to_currency(order_extra.price) %></li>
        <li>Subtotal: <%= number_to_currency(order_extra.price * order_extra.quantity) %></li>
      </ul>
    <% end %>
  <% end %>
</div>

<h3>Total Previous Charges: <%= number_to_currency(@order.previous_cost) %></h3>
<% if !@order.end_time.nil? %>
  <% if (0..4).include?(@order.start_time.strftime('%w').to_i) %>
    <h4>Service Discount (Sunday-Thursday): <%= "20%" %></h4>
  <% end %>
<% end %>

<h2>Total Bill: <%= number_to_currency(@order.total_bill) %></h2>

<form>
  <input type="hidden" id="firstNumber" Value= <%= @order.total_bill %> /><br>
  People: <input type="text" id="secondNumber" /><br>
  <input type="button" onClick="divideBy()" Value="Split" />
</form>
  <p>Amount Owed/Person: $<span id = "result"></span></p>

  <%= form_for @sale, url: service_order_sales_path(@order.service, @order), method: :post do |f| %>
    <%= f.label :cash_handled, 'Cash Handled' %>
  <div class = 'field input-group'>
    <span class="input-group-addon">$</span>
    <%= f.number_field :cash_handled, class: 'form-control' %>

  </div>
  <br/>


  <% if @order.open? %>
    <div class = "decision-buttons">
      <%= f.submit 'Checkout', class: 'btn btn-success btn-lg'%>

      <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
        Cancel Order
      </button>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to cancel your order?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= link_to 'Cancel Order', service_order_path(@order.service, @order), method: :delete, class: 'btn btn-danger btn-lg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>

    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
      Delete Sale
    </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this sale from the database?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= link_to 'Delete Sale', sale_path(@sale), method: :delete, class: 'btn btn-danger btn-lg' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  <% end %>


